.tabela{
    color: white;
  }
  
  .cabecalho th{
    padding: 10px;
    font-size: 20px
  }

  .cabecalho-moda{
    background-color: #BB86FC;
  }
  
  .cabecalho-casa{
    background-color: #00C4B4
  }
  
  .produto{
    background-color: #424250; 

  }
  
  .produto td{
    padding: 10px;
    font-size: 16px
  }
  
  